<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/styles.css"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <nav id="navbar">
        	<ul class="navlist">
        	    <li class="left"><a href="/">Home</a></li>
        	    <% if (!currentuser) { %>
        		    <li><a href="/register">Register</a></li>
        		    <li><a href="/login">Login</a></li>
        		<% } else { %>
        		    <li><a href="/logout">Logout</a></li>
        		    <li><p>Signed in as: <%= currentuser.username %></p></li>
        		<% } %>
        	</ul>
        </nav>