<% include partials/header %>

<div class="container search text-center">
    <h1>Movie search</h1>
    
    <form action="/search" method="GET">
    	<div class="form-group">
        	<input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        	<input class="btn btn-primary btn-block" type="submit" value="Search">
    </form>
</div>

<% include partials/footer %>