<% include partials/header %>

<div class="container userform">
	<form action="/login" method="POST" class="form">
		<div class="form-group">
			<label>Username:</label>
			<input class="form-control" type="text" name="username">
		</div>
		<div class="form-group">
			<label>Password:</label>
			<input class="form-control" type="password" name="password">
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-block">Login</button>	
		</div>
	</form>
</div>

<% include partials/footer %>