body, html {
    font-family: Roboto;
    height: 100%;
    width: 100%;
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin:0;
}

#container {
    margin: 15% auto 0 auto;
    width: 250px;
    text-align: center;
}

#container input {
    display:block;
    width: 100%;
    margin: 10px auto;
    text-indent: 5px;
}

.searchbtn {
    border: none;
}

input {
    border: none;
    padding: 5px 0;
}

.userbtn {
    display: block;
    width: 100%;
    background: steelblue;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}

hr {
    width: 70%;
    border: none;
    background-color: white;
    height: 2px;
    margin-top: 20px;
}

#resultbox {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.form {
    margin: 0 auto;
    display: block;
    width: 20%;
}

.form input {
    display: block;
    width: 100%;
}

#navbar {
    width: 100%;
    position: relative;
    top: 0;
    height: 60px;
    padding: 0;
}

#navlist {
    list-style: none;
    display: block;
    height: 100%;
    margin: 0;
}

#navlist li {
    float: right;
    height: 100%;
}

#navlist a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 150px;
    text-align: center;
    line-height: 60px;
    transition: all .5s;
}

#navlist p {
    color: black;
    line-height: 60px;
    margin: 0 20px 0 0;
    padding: 0;
}

#navlist a:hover {
    background-color: rgba(200,200,200,.5);
}

.userbox {
    text-align: left;
    margin: 0 auto;
    width: 70%;
}

.addbtn {
    display: block;
    margin: 20px auto;
    width: 100px;
}