<% include ../partials/header %>

<% const results = dataObj["Search"]; %>
<div class="container text-center">
	<% if (results) { %>
	    <% results.forEach((movie) => { %>
	        <h2> <%= movie["Title"] %></h1>
	        <p>Year: <%= movie["Year"] %></p>
	        <% if (movie["Poster"].match(/^http/g)) { %>
	            <a href="/search/<%= movie["imdbID"] %>"><img src= <%= movie["Poster"]%> ></a>
	        <% } %>
	        <hr>
	    <% }); %>
    <% } else { %>
    	<h1>Your search yielded no results</h1>
    <% } %>
</div>

<% include ../partials/footer %>